.main {
  display: flex;
  justify-content: space-between;
  padding: 36px 24px;
  color: #fff;
  background-color: #0085ff;
  align-items: center;
}

.header {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 374px) {
  .header {
    font-size: 16px;
  }
}
